<head>
    <link rel="stylesheet" href="components/navigation/navigation.css">
</head>

<div class="navigation">
    <ul class="navBar">
        <li class="navList"><a ui-sref="home" class="nav">home</a></li>
        <li class="navList"><a ui-sref="veryimp" class="nav">very important</a></li>
        <li class="navList"><a ui-sref="imp" class="nav">important</a></li>
        <li class="navList"><a ui-sref="lessimp" class="nav">less important</a></li>
        <li class="navList"><a ui-sref="leastimp" class="nav">least important</a></li>
    </ul>
</div>